.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.phrase {
    font-size: 180%;
    color: #660000;
}

.transcription {
    color: #000033;
}

.translation {
    color: #000033;
}

.notes {
    color: #663300;
    font-style: italic;
}