.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.text-indonesian {
    font-size: 120%;
    color: #660000;
}

.text-translation {
    color: #000033;
}

.text-notes {
    color: #663300;
    font-style: italic;
}